* {
  font-family: 'Chuck Norris', sans-serif;
  letter-spacing: 1px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.center-all {
  justify-content: center;
  align-content: center;
}

.center-main {
  justify-content: center;
}

.center-cross {
  align-content: center;
}

.column-third {
  flex-basis: 25%;
}

.padding-7 {
  padding: 7px;
}

.space-between {
  justify-content: space-between;
}

.background-brown {
  background-color: #6e0d24;
}

.white-text {
  color: #fff;
}

.font-medium {
  font-size: 1rem;
}

.font-x-large {
  font-size: 1.5rem;
}

.background-yellow {
  background-color: #f3f3dd;
}

.all-category,
.saved-btn,
.home,
.another,
.favorite-btn {
  background-color: #f3f3dd;
  border: 0;
}

.text-center {
  text-align: center;
}

.btn-w-h {
  width: 70px;
  height: 70px;
  border: transparent;
  border-radius: 5px;
  font-size: 0.6rem;
  transition: 0.25s ease;
}

.bgc-1 {
  background-color: #97849d;
}

.bgc-2 {
  background-color: #653420;
}

.bgc-3 {
  background-color: #757369;
}

.bgc-4 {
  background-color: #93757a;
}

.bgc-5 {
  background-color: #6d76cc;
}

.bgc-6 {
  background-color: #293340;
}

.bgc-7 {
  background-color: #85626b;
}

.bgc-8 {
  background-color: #757369;
}

.bgc-9 {
  background-color: #653420;
}

.bgc-10 {
  background-color: #97849d;
}

button:hover,
i:hover {
  cursor: pointer;
}

p {
  cursor: default;
}

.btn-w-h:hover {
  width: 80px;
  height: 80px;
  font-size: 0.75rem;
}

.joke-container {
  border: transparent;
  border-radius: 10px;
  height: 300px;
  margin-top: 50px;
}

.margin-top-30 {
  margin-top: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.h-45 {
  height: 45px;
}

.underlined {
  text-decoration: underline;
}
